html,body{
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.01);
}
.container{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header{
    min-height: 100px;
    flex: 0 1 auto;
    padding-left: 50px;
}

.content{
    min-height: 500px;
    flex: 1 1 auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-panel{
    flex: 0 1 300px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    overflow-x: hidden;
}

.back-white{
    background-color: white;
}

.left-panel-item {
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(0,0,0,0.55);
    font-family: sans-serif;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    position: relative;
}

a.left-panel-item:hover .close-small-button{
    display:block;
}

.content-panel{
    flex: 0 1 500px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
}

.space{
    margin: 20px;
}

.round-border{
    border-radius: 5px;
}

.title{
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

.close-small-button{
    position: absolute;
    right: 5%;
    top: 0;
    font-size: 14px;
    font-weight: 900;
    display: none;
    color: #ca6767;
}

.close-small-button:hover{
    cursor: pointer;
    color: #b61111;
    transform: scale(1.05);
}

a.left-panel-item:not(.selected):hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: rgba(0,0,0,0.025);
}

.selected{
    background-color: rgba(0,0,0,0.06);
}

.image-info{
    width: 100%;
    min-height: 50px;
    border-top: 1px solid #efefef;
    border-radius: 0 0 5px 5px;
    padding-top: 5px;
}

.image-info span{
    margin: 20px;
}

.image-file{
    display: block;
    position: relative;
    flex: 1 1 auto;
}

.image-file img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.hidden{
    visibility: hidden;
}

.tag{
    margin: 3px;
    padding: 7px 20px;
    background-color: #67c97d;
    border-radius: 3px;
    user-select: none;
}

.tag:hover{
    color: white;
    cursor: pointer;
    background-color: #2a5834;
}

.tag-container{
    margin: 7px 20px;
    display: flex;
    flex-wrap: wrap;
}

.input{
    background-color: transparent;
    border: none;
    border-top: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 2rem;
    font-size: 16px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    padding-left: 20px;
    color: rgba(0,0,0,0.8);
}

.tag-add{
    display: flex;
    flex-direction: row;
}

.tag-add .input{
    flex: 2 1 auto;
}

.tag-add button{
    flex: 1 1 auto;
}

.filter-container{
    padding: 20px 20px 0 70px;
    display: flex;
}